* {
    margin: 0px;
    padding: 0px;
}

body {
    /*background-color: rgb(22, 114, 206);*/
    background-color: #FAFBFC;
}

body a {
    color: #0052CC;
}

h2 {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

small {
    font-size: 15px;
}

.btn1 {
    text-align: center;
    color: white!important;
    text-decoration: none!important;
    font-size: 16px;
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    line-height: 25px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.border-top ul {
    padding-bottom: 20px;
    padding-top: 60px;
    list-style-type: none;
}

.container {
    margin-top: 110px;
}

.card {
    max-width: 360px;
    border: none!important;
    box-shadow: 0px 0px 10px #D8D8D8;
}

.custom-btn {
    color: #fff;
    background-image: linear-gradient(#FF1744 10%, #CB4335 100%);
    margin-top: 20px;
}

.custom-btn:hover {
    font-size: 16.1px;
    background-image: linear-gradient(#FF1744 40%, #CB4335)!important;
}

.form-control {
    box-shadow: none!important;
}

.mt-auto {
    margin-top: auto!important;
}

.border-top ul > li + li::before {
    content: "•";
    margin: 0px 1px 0px 6px;
    padding: 0px;
}

@media (max-width: 450px) {
    .card {
        background-color: #FAFBFC;
        box-shadow: none;
    }
    .border-top {
        max-width: 90%;
    }
    .card-header {
        background-color: #FAFBFC;
    }
}